<!DOCTYPE html>
<html>
<head>
  <title>LunchMoneyBox</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"></link>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav class="navigation">
    <div class="text-center navigation-text">
      LunchMoneyBox
      <span class="pull-right" style='color:yellow'>
        Beta
      </span>
    </div>
  </nav>
  <nav class="col-lg-12 navigation-bottom">
    <div class="col-lg-4 col-md-4"><%= link_to 'Dashboard Home', dashboard_overview_path %>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
    
        <h1> <% current_parent.students.each do |student| %>
            <%= student.first_name %> 
            <% end %>
        </h1>
    </div>
   

    </nav>
    <% if parent_signed_in? %>

  <div align="left" > <h4> Hi there  
    <%=  current_parent.first_name %></h4>
      <p> Not you ? <%= link_to "Sign_out", destroy_parent_session_path, :method => 'delete' %> </p>
  </div>  
  
    <div class="col-lg-12 col-md-12 col-sm-12" >
      <div class="panels sign-panel login-panel panel panel-default transaction-history">
        <div class="panel-heading">
          <h1 class="text-center">Purchases</h1>
        </div>
        <div class="panel-body">
          <% @orders.flat_map { |order| order["lines"] }.each do |order_item| %>
          <div class="student-rows">
            <div class="col-lg-12 student-row ">
<!--               <div class="col-lg-6">
 -->                <p class="meal-text">  <%= order_item['product']['name'] %> </p>
<!--                 <p class="text-muted date-text"> </p>
 -->          </div>
             <!--    <div class="col-lg-6 meal-price"> -->
                <span class="pull-right"> <%= order_item['unit_price'] %>  </span> 
                 <% end %>
             <!--  </div> -->
            </div>
          </div>
        </div>
      </div>
    
    
   
    
     <div class="col-lg-12 col-md-12 col-sm-12" >
    
        <div class="panel-heading">
          <h1 class="text-center"> Current Balance</h1>
        </div>
        <div class="panel-body">
          <div class="student-rows">
            <div class="col-lg-12 student-row">
              <span class="pull-right">
                <%=number_to_currency current_parent.total_funds - @totals %> 
              </span>
            </div>
          </div>
        </div>
        <a href="/charges/new"
           class="btn btn-success btn-block"><h3>+ Add Funds</h3></a>
      </div>
    

     <!--  <div class="panels sign-panel login-panel panel panel-default transaction-history">
        <div class="panel-heading">
          <h1 class="text-center">Credits</h1>
        </div>
        <div class="panel-body">
          <div class="student-rows">
            <div class="col-lg-12 student-row ">
              <div class="col-lg-6">
                <p class="meal-text">Deposit</p>
                <p class="text-muted date-text">Date </p>
              </div>
              <div class="col-lg-6 meal-price">
                <span class="pull-right credit-text">  <i class="fa fa-plus"></i></span>
              </div>
            </div>
           

            </div>


          </div>
        </div> -->
      </div>
      
      
    </div>
  </div>
  
  

 <% end %> 
</body>
 <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigation">
    <div class="text-left">
      <h6>Email Support | support@lunchmoneybox.io</h6>
    </div>
  </footer>
</html>


